<div id="my_hero" class="riga" *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <mat-card id="cartamsg" appearance="outlined">
    <div>Hero ID: {{hero.id}}</div>
    <div>
      <form>
      <mat-form-field class="example-full-width">
      <mat-label for="hero-name">Change Hero Name: </mat-label>
      <textarea matInput placeholder="name" id="hero-name" [(ngModel)]="hero.name" name="heroName"></textarea>
    </mat-form-field>
  </form>
    </div>
    <button style="width:200px;margin-top:30px;" mat-flat-button (click)="openDialog()" [disabled]="isDisabled">Launch Dialog</button>
  </mat-card>
  </div>
