

/* Application-wide Styles */
h1 {
    color: rgb(24, 24, 24);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    font-weight: 500!important;
    letter-spacing: 1px;
  }
  h2, h3 {
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px!important;
    font-weight: 600!important;
    letter-spacing: 1px;
    color: #797979;
    text-transform: uppercase;
    
  }
  body {
    margin: 2em;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }

  .riga{
    margin-top:4%;
    margin-bottom:4%;
  }

  mat-card {padding:4%;}

   /*
  button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  button:hover {
    background-color: black;
    color: white;
  }
  button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-messages {    display: block;
  width: 50% ;
  margin-left: auto;
  margin-right: auto;
}
